numpy==1.24.3
pandas==2.0.3
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.13.1
selenium==4.10.0
requests==2.31.0
beautifulsoup4==4.12.2
imbalanced-learn==0.11.0
scikit-learn==1.2.2
statsmodels==0.14.0
transformers==4.31.0
