body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f9;
    color: #333;
}

input, button {
    padding: 10px;
    margin-top: 10px;
}

button {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#results p {
    margin-top: 20px;
}

h1 {
    color: #333;
}
